* {
    margin: 0;
    padding: 0;
}

header {
    background-color: #011d2e;
    color: #fff;
    height: 100px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo img {
    height: 70px;
    cursor: pointer;
}

.navbar {
    display: flex;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar li {
    margin-right: 30px;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    font-size: 30px;
    transition: font-size 0.2s ease-in-out;
}

.navbar a:hover {
    color: yellow;
    font-size: 31px;
}

.hero {
    background-image: url('https://static.vecteezy.com/system/resources/previews/001/849/553/original/modern-gold-background-free-vector.jpg');
    background-size: cover;
    height: 100vh;
}

.hero-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 90%;
}

.hero h1 {
    color: #fff;
    font-size: 64px;
    margin-bottom: 20px;
}

.hero p {
    color: #fff;
    font-size: 24px;
    margin: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 35px;
}

.box {
    width: 25.2%;
    background-color: rgb(250, 191, 80);
    text-align: center;
    padding: 20px;
    margin: 12px;
}

.box img {
    width: 100%;
    margin-bottom: 20px;
}

.box h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.box p {
    font-size: 16px;
    margin: 0;
}

.products {
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.back {
    font-weight: 900;
    font-size: 8.5vh;
    color: rgb(250, 225, 202);
    user-select: none;
}

.front {
    font-weight: 900;
    font-size: 4.8vh;
    color: rgb(244, 127, 24);
    position: absolute;
    margin-top: 20px;
}

.review-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.review-box {
    width: 30%;
    text-align: center;
    padding: 20px;
}

.review-img {
    width: 400px;
    border-radius: 25px;
    margin: 0 auto 20px;
}

.review-text {
    font-size: 18px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    background-color: #011d2e;
    color: white;
    padding: 0 20px;
}

footer p {
    margin: 0;
}

@media only screen and (max-width: 1199px) {
    .review-section {
        gap: 0px 100px;
    }
}

@media only screen and (max-width: 950px) {
    .review-section {
        flex-direction: column;
    }

    .review-img {
        margin: 0 -48px 20px;
    }
}

@media only screen and (max-width: 790px) {
    .review-img {
        width: 340px;
        margin: 0 -105px 20px;
    }

    .review-text {
        width: 50vw;
        margin: 0px -10vw;
    }
}

@media only screen and (max-width: 887px) {
    .back {
        font-weight: 900;
        font-size: 6.5vh;
        color: rgb(250, 225, 202);
        user-select: none;
    }

    .front {
        font-weight: 900;
        font-size: 3.8vh;
        color: rgb(244, 127, 24);
        position: absolute;
        margin-top: 20px;
    }
}

@media only screen and (max-width: 677px) {
    .back {
        font-weight: 900;
        font-size: 4.5vh;
        color: rgb(250, 225, 202);
        user-select: none;
    }

    .front {
        font-weight: 900;
        font-size: 2.8vh;
        color: rgb(244, 127, 24);
        position: absolute;
        margin-top: 20px;
    }
}

@media only screen and (max-width: 470px) {
    .back {
        font-weight: 900;
        font-size: 3.5vh;
        color: rgb(250, 225, 202);
        user-select: none;
    }

    .front {
        font-weight: 900;
        font-size: 2.8vh;
        color: rgb(244, 127, 24);
        position: absolute;
        margin-top: 20px;
    }
}

@media only screen and (max-width: 634px) {
    .review-text {
        width: 50vw;
        margin: 0px -10vw;
    }
}

@media only screen and (max-width: 450px) {
    .review-img {
        width: 300px;
    }
}

@media only screen and (max-width: 786px) {
    .box {
        width: 33.2%;
    }
}

@media only screen and (max-width: 380px) {
    .box {
        width: 71.2%;
    }
}

@media only screen and (max-width: 750px) {
    .header-container {
        flex-direction: column;
    }

    header {
        height: 149px;
    }

    .hero h1 {
        font-size: 54px;
    }

    .hero p {
        font-size: 18px;
    }
}

@media only screen and (max-width: 898px) {
    .hero h1 {
        font-size: 44px;
    }

    .hero p {
        font-size: 20px;
    }
}

@media only screen and (max-width: 749px) {
    .hero h1 {
        font-size: 44px;
    }

    .hero p {
        font-size: 17px;
    }
}

@media only screen and (max-width: 637px) {
    .hero h1 {
        font-size: 42px;
    }

    .hero p {
        font-size: 15px;
    }
}

@media only screen and (max-width: 562px) {
    .hero h1 {
        font-size: 42px;
    }

    .hero p {
        font-size: 12px;
    }
}

@media only screen and (max-width: 449px) {
    .navbar a {
        font-size: 26px;
    }

    .hero h1 {
        font-size: 41px;
    }

    .hero p {
        font-size: 11px;
    }
}

@media only screen and (max-width: 375px) {
    .navbar a {
        font-size: 24px;
    }
}

@media only screen and (max-width: 355px) {
    .navbar a {
        font-size: 21px;
    }
}